.details {
  height: 100%;
  width: 30rem;
  padding: 0.5rem;
  margin: 1rem auto;
  background: #ffffff;
  color: #495057;
  text-align: center;
  align-items: center;
  background-color: #0cb7d1;
  background: #ffffff;
  color: #495057;
  -webkit-box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  img {
    margin: 0.3rem auto;
    width: 100%;
    border-radius: 3px;
  }

  .infoCard {
    display: flex;
    flex-direction: column;

    .name {
      display: block;
      margin: 0.3rem 0.5rem;
      font-size: 1.6rem;
      font-style: oblique;
      font-weight: 500;
      color: #0cb7d1;
    }

    .info {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr auto;
      text-align: start;
      .label {
        color: var(--bluegray-400);
        margin: 0.3rem 0.5rem;
      }

      .value {
        display: block;
        margin-left: 0.5rem;
        font-style: oblique;
        text-transform: lowercase;
        color: var(--bluegray-500);
        font-weight: 500;

        button {
          margin: 0;
          padding: 0;
        }
      }

      .residents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr auto;

        .residentValue {
          display: block;
          margin: 0.3rem 0.5rem;
          font-style: oblique;
          color: var(--bluegray-500);
          font-weight: 500;
        }

        button {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .details {
    width: 90%;
    img {
      width: 100%;
      margin: 0.3rem 0;
    }

    .infoCard {
      justify-content: center;
    }
  }
}
